@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #42598D, #697F8C, #DCE1E5 98%);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #DCE1E5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #697F8C;
    text-align: center;
    text-shadow: 1px 1px 2px #6f8591;
}

h2 {
color: #4a5974;
}

p {
    color: #a5acba;
    text-align: justify;
}